.title-container {
    display: flex;
    flex-direction: row;

}

.theme-button-container {
    width: 100vw;
  }
  
  .btn-dark {
    float: right;
    background-color: #282c34;
    color: cyan;
  }
  
  .btn-light {
    float: right;
    background-color: white;
    color: #282c34;
  }

.app-title {
    margin-bottom: 0;
}
